/*
!.gitignore
!/scripts
!/config
!/defaultconfigs
!/icon.png
!/options.txt
!/mods.txt
!/resourcepacks.txt
!/datapacks.txt
!.rsync*
!*.sh
!use-forge*

*.bak

bookmarks.json
bookmarks.ini
/icon.png
/config/inventoryprofilesnext/*
/config/oculus.properties
/config/euphoria_patcher/*

lookupHistory.ini