/*
!.gitignore
!/scripts
!/config
!/defaultconfigs
!/shaderpacks
!/icon.png
!/options.txt
!/mods.txt
!/resourcepacks.txt
!/datapacks.txt

*.bak

bookmarks.ini
/icon.png
/config/paxi/resourcepacks/*.zip
/config/paxi/datapacks/*.zip