/.mixin.out
/BotaniaVars.dat
/Xaero*
/data
/icon.png
/logs
/mods
/options.txt
/optionsof.txt
/patchouli_data.json
/realms_persistence.json
/resourcepacks
/saves
/screenshots
/servers.dat
/usercache.json
/usernamecache.json
/crash-reports